@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Serif+Display:ital@0;1&family=Delius+Swash+Caps&family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&family=Ultra&display=swap');


.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}
  
.font-dm-sans {
    font-family: 'DM Sans', sans-serif;
}

.font-dm-serif-display {
    font-family: 'DM Serif Display', serif;
}

.font-pt-serif {
    font-family: 'PT Serif', serif;
}

.font-ultra {
    font-family: 'Ultra', serif;
}

.font-syne {
    font-family: 'Syne', sans-serif;
}

.font-archivo-black {
    font-family: 'Archivo Black', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-pt-serif {
    font-family: 'PT Serif', serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-geist-mono {
    font-family: 'Geist Mono', monospace;
}

.font-geist {
    font-family: 'Geist', sans-serif;
}

.font-geist-sans {
    font-family: 'Geist Sans', sans-serif;
}

.font-big-shoulders {
    font-family: 'Big Shoulders', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.font-lora {
    font-family: 'Lora', serif;
}

.font-delius-swash-caps {
    font-family: 'Delius Swash Caps', serif;
}